/* =============
    Cards
============= */

#card-content {

    display: grid;
    gap: 24px;

    @include md {
        grid-template-columns: 50% auto;
    }

    @include xxl {
        grid-template-columns: auto 720px 720px auto;
        grid-template-areas:". parts tools .";
    }

    #parts {
@include xxl{
    grid-area: tools;
}
    }

    #tools {
        @include xxl{
            grid-area: parts;
        }
    }

    .card-content {
        background-color: #482e54;
    }
}

