/* =============
    Heroandlinks
============= */
#heroandlinks {

    img {
        width: 100%;
    }
        article{

            @include md{
                display: grid;
                grid-template-columns: 50% auto;

            }
            #playingtips {
                background-color: #f4d4ad;

                @include xxl{
                    // grid-template-columns: auto 1440px auto;

                    grid-template-columns: auto 720px 16px;
                }
            }

            #cheatsheet {
                background-color:#c97a68;

                @include xxl{
                    // grid-template-columns: auto 1440px auto;

                    grid-template-columns: 16px 720px auto;
                }
            }

            
        }
    
}