/* =============
    Heroandlinks
============= */
#heroandlinks {

    img {
        width: 100%;

    }

    #tips{

        >div{
            section{
                display: grid;
                grid-template-columns: 25% auto;

                img{
                    width: 100%;
                }
            }
        }
    }

}