/* =============
    Images
============= */
#images{
ul{

    @include md{
      display: grid;
      grid-template-columns: 50% auto;  
    }
    @include lg{
        grid-template-columns: 50% auto;  
      }
    li{
        img{
            width: 100%;
    
        }
    }
}
}