/* =============
    Header
============= */
header{
    background-color: #482E54;
    Section{
        width: 768px;
        height: 77px;
        img{
            margin: 16px;
            width: 99px;
            height: 48px;
        }
    }
}